<html >
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>

    <body>
        <div>
            <div align="center">
                <h1>[[${title}]]</h1>
                <img alt="加载中..." src="images/aloner.png" />
            </div>
            <table>
                <td th:each="column : ${columns}"><b>[[${column}]]</b></td>
                <tr th:each="list : ${datas}">
                    <td th:each="item : ${list}">[[${item}]]</td>
                </tr>
            </table>
        </div>
    </body>
</html>